@import './base';

.head-section {

        background-color: #F2F2F2;
}

header {
        width: 100%;
        position: relative;
        transition: ease 0.4s;
        background-color: #F2F2F2;
    
        .user-acc {
            width: 90%;
            max-width: 1500px;
            margin: auto;
            display: flex;
            justify-content: end;
            align-items: center;
    
            @media (max-width: 600px) {
                    display: none;
            }
    
            .search-bar, .login-btn a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px 15px;
                    margin-top: 10px;
            }
    
            .search-bar {
                    width: 200px;
                    height: 45px;
                    border-radius: 5px;
                    display: flex;
                    align-items:center;
                                            
                    input{
                            width: 100%;
                            outline: none;
                            border: none;
                            display: none;
                            padding: 10px 10px;
                    }
    
                    button {
                            width: 60px;
                            height: 40px;
                            outline: none;
                            border: none;
                            background-color: #2980BF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
    
                            ion-icon {
                                    font-size: 1.2rem;
                                    color: $secondary-color;
                            }
                    }
            }
    
            .login-btn {
                    overflow: hidden;
    
                    a {
                            cursor: pointer;
                            text-decoration: none;
                    }
    
                    ion-icon {
                            padding: 12px;
                            color: #fafafa;
                            background-color: #EACA1C;
                    }
    
                    button {
                            width: 150px;
                            height: 40px;
                            background-color: #4C687F;
                            border: none;
                            outline: none;
                            color: #fafafa;
                            font-size: 1.1rem;
                            cursor: pointer;
                    }
            }
        }
    
        .navbar {
            width: 90%;
            padding: 10px 0px;
            max-width: 1500px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
    
    
        .logo img {
            width: 150px;
            cursor: pointer;
        }
    
        .logo .govt {
                width: 200px;
                margin-left: 20px;
        }
    
        .menu {
            display: none;
    
            ion-icon {
                font-size: 2rem;
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
        }
    
        nav {
            display: block;
    
            ul li {
                display: inline-block;
                margin: 5px 15px;
                position: relative;
                
    
                #contact-us-btn {
                    padding: 8px 20px;
                    border: 1px solid rgb(92, 92, 92);
                    border-radius: 5px;
                    display: inline-block;
    
                    &:hover {
                            background-color: $accent-color;
                            color: #ffffff;
                            border: 1px solid $accent-color;
                    }
                }
    
                
                    .nav-items {
                            max-width: 600px;
                            position: absolute;
                            top: 160%;
                            left: -100%;
                            z-index: 10;
                            border-radius: 10px;
                            box-shadow: $secondary-shadow;
                            padding: 20px;
                            visibility: collapse;
                            background-color: #fff;
    
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
    
                            .items-content {
                                    width: 400px;
                                    margin: 0 15px;
    
                                    .heading {
                                            margin-bottom: 20px;
                                            p {
                                                    font-size: 0.9rem;
                                                    color: rgba($primary-color, 0.9);
                                            }
                                    }
    
                                    .links {
                                            .link {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: flex-start;
                                                    margin: 15px 0;
    
                                                    img {
                                                            margin: 0px 10px;
                                                    }
    
                                                    .text-content {
                                                            a {
                                                                    font-weight: 600;
                                                            }
                                                            p {
                                                                    font-size: 0.7rem;
                                                                    color: rgba($primary-color, 0.95);
                                                            }
                                                    }
                                            }
                                    }
                            }
    
                            .company-content {
                                    width: 300px;
                                    margin: 0 15px;
                                    
                                    p {
                                            font-size: 0.9rem;
                                    }
    
                                    img {
                                            width: 60%;
                                            margin-top: 20px;
                                    }
                            }
                    }
    
                   .active-nav-items {
                            animation: come-down ease 0.4s;
                    }
    
                    @keyframes come-down {
                            0% {
                                    transform: translateY(-10px);
                            }
    
                            100% {
                                    transform: translateY(0px);
                            }
                    }
    
                 a {
                    font-size: 0.95rem;
                    text-decoration: none;
                    font-weight: 500;
                    color: $primary-color;
                    cursor: pointer;
    
                    display: flex;
                    align-items: center;
    
                    ion-icon {
                            font-size: 1.2rem;
                            color: $primary-color;
                            margin: 0 10px;
                    }
    
    
                    &:hover {
                        color: $accent-color;
                        transition: ease 0.4s;
                    }
    
                    &:focus, &:focus ion-icon {
                            color: $accent-color;
                        }
    
                    &:hover ion-icon{
                            color: $accent-color;
                            transition: ease 0.4s;
                        }
                }
    
                .active-page {
                    color: $accent-color;
                }
            }
        }
    }
    
    .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            background-color: #fff;
    }

.swiper {
        .swiper-pagination-bullet-active {
                background-color: $accent-color;
        }
}

@media (max-width: 1300px) {
        .logo .govt {
                display: none;
        }

        header {
                nav {
                        ul li {
                                margin: 5px 10px;
                        }
                }
        }
}

@media (max-width: 1100px) {

        header {
                nav {
                        ul li {
                                margin: 5px;
                        }
                }
        }
}

@media (max-width: 950px) {
    header {

        .menu {
            display: block;
        }

        nav {
            display: none;
        }

        .govt {
                display: none;
        }

        .nav {
            display: block;
            width: 94%;
            margin: auto;
            position: absolute;
            top: 100%;
            left: 10px;
            z-index: 100;
            right: 10px;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgb(235, 235, 235);
            background-color: #ffffff;
            animation: movenav ease 1s;

            ul li {
                display: block;
                margin: 15px 15px;
            }
        }

        @keyframes movenav {
            0% {
                opacity: 0;
                transform: translateY(-100px);
            }

            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}

.header-container {
        @include layout-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 60px 0 60px 0;

        .text-container {
                
                h2 {
                        font-size: clamp(2.3rem, 5vw, 3rem);
                        font-weight: 700;
                        line-height: 1.2;
                        color: #000;
                }

                p {
                        font-family: $inter;
                        font-size: 1.4rem;
                        font-weight: normal;
                        margin-top: 10px;
                        color: $primary-color;
                }

                .btn-container {
                        display: flex;
                        margin-top: 20px;       

                        button {
                                padding: 15px 25px;
                                background-color: $accent-color;
                                box-shadow: $primary-shadow;
                                color: #ffffff;
                                border: none;
                                outline: none;
                                border-radius: 30px;
                                margin: 20px 0;
                                cursor: pointer;
                                transition: ease 0.4s;

                                a {
                                        text-decoration: none;
                                        color: #ffffff;
                                }

                                &:hover {
                                        background-color: rgba($accent-color, 0.8);
                                }
                        }

                        button:nth-child(2) {
                                margin-left: 20px;
                                background-color: $primary-color;
                                box-shadow: $secondary-shadow;
                                display: flex;
                                align-items: center;

                                &:hover {
                                        background-color: rgba($primary-color, 0.8);
                                }

                                ion-icon {
                                        margin: 0 0 0 5px;
                                }
                        }
                }
        }

        .img-container {
                max-width: 550px;
                position: relative;
                z-index: 1;
                
                

                img {
                        width: 100%;
                        margin: -5.5px;
                }

                .circle-yellow, .circle-grey {
                        position: absolute;
                        top: 10%;
                        left: 10%;
                        width: 220px;
                        height: 220px;
                        background-color: $accent-color;
                        border-radius: 50%;
                        z-index: -1;
                        opacity: 0.8;
                }

                .circle-grey {
                        top: -10%;
                        left: 20%;
                        width: 250px;
                        height: 250px;
                        z-index: -2;
                        background-color: rgb(199, 199, 199);
                }
        }
}

@media (max-width: 1100px) {
        .header-container {
                justify-content: center;

                .img-container {
                        margin-top: 100px;
                }
        }
}

.who-section {
        // background-color: #1194B4;
        padding: 100px 0;
        // color: #fafafa;

        .who-heading {
                width: 94%;
                max-width: 600px;
                margin: 30px auto;
                padding: 0 10px;
                text-align: center;
                
                h2 {
                        font-size: clamp(1.6rem, 3vw, 2.4rem);
                        font-weight: 600;
                }
        }

        .who-layout {
                @include layout-width;

                .text-content {
                        p {
                                font-size: clamp(0.9rem, 3vw, 1.2rem);
                                letter-spacing: 0.8px;
                                word-spacing: 1.4px;
                                text-align: center;
                        }
                }
        }
}

.section-heading {
        width: 94%;
        max-width: 800px;
        margin: 60px auto;
        padding: 0 10px;
        text-align: center;
        
        h2 {
                font-size: clamp(1.4rem, 3vw, 2rem);
                font-weight: 600;
        }

        p {
                font-size: 1.2rem;
        }
}


.features-section {
        padding: 100px 0;
        .section-heading {
                width: 94%;
                max-width: 800px;
                margin: 60px auto;
                padding: 0 10px;
                text-align: center;
                
                h2 {
                        font-size: clamp(1.4rem, 3vw, 2rem);
                        font-weight: 600;
                }

                p {
                        font-size: 1.2rem;
                }
        }

        .features {
                @include layout-width;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;

                @media (max-width: 1100px) {
                        justify-content: center;
                }

                .features-card {
                        text-align: center;
                        margin: 40px 15px;
                        max-width: 350px;

                        img {
                                width: 100px;
                                margin: 10px auto;
                        }

                        h3 {
                                font-size: 1.4rem;
                                text-align: center;
                        }

                        p {
                                text-align: center;
                                max-width: 300px;
                                font-size: 0.9rem;
                                word-wrap:break-word;
                        }

                        .full-content {
                                display: none;
                        }

                        button {
                                padding: 12px 35px;
                                margin: 30px auto;
                                background-color: $accent-color;
                                color: #fafafa;
                                border-radius: 5px;
                                outline: none;
                                border: none;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                // box-shadow: $primary-shadow;

                                &:hover {
                                        background-color: rgba($accent-color, 0.8);
                                }
                        }
                }
        }
}

.control-section {
        padding: 20px 0;
        background: rgb(10,163,187);
        background: linear-gradient(174deg, rgba(10,163,187,1) 0%, rgba(34,111,162,1) 100%);

        .control-layout {
                @include layout-width;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                @media (max-width: 1310px) {
                        justify-content: center;
                }


                .img-container {
                        margin: 20px;

                        @media (max-width: 1410px) {
                                max-width:500px;
                        }

                        img {
                                width: 100%;
                        }
                }

                .text-content {
                        margin: 20px;
                        color: #fafafa;

                        h1 {    
                                margin-bottom: 20px;
                                font-weight: 600;
                                text-align: center;
                                font-size: clamp(1.8rem, 3vw, 2.4rem);
                        }

                        span {
                                display: block;
                                margin: 10px 0;
                                font-size: clamp(1rem, 3vw, 1.4rem);
                        }

                        p {
                                margin: 10px 0;
                                text-align: left;
                                max-width: 650px;
                                margin-bottom: 30px;
                        }

                        .content-container {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                flex-wrap: wrap;
                                margin: 20px;

                                @media (max-width: 810px) {
                                        justify-content: center;
                                }

                                h3 {
                                        max-width: 300px;
                                        font-weight: normal;
                                        margin: 20px;
                                }
                        }
                }
        }
}

.market-section {
        .global-market-layout {
                @include layout-width;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding: 100px 0;

                @media (max-width: 1452px) {
                        justify-content: center;
                        flex-direction: column;
                }

                .text-content {
                        width: 100%;
                        max-width: 650px;

                        h1 {
                                font-size: 2.4rem;
                                font-size: clamp(1.8rem, 3vw, 2.4rem);
                                text-align: center;

                                @media (max-width: 1450px) {
                                        margin-top: 100px;
                                }
                        }

                        p {
                                text-align: center;
                                font-size: 1.2rem;
                                font-size: clamp(1rem, 3vw, 1.2rem);
                        }

                        .contents {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                flex-wrap: wrap;
                                margin: 80px 0;

                                @media (max-width: 640px) {
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;
                                }

                                .content {
                                        margin: 15px;
                                        text-align: center;

                                        @media (max-width: 640px) {
                                                margin: 30px;
                                        }

                                        img {
                                                max-width: 80px;

                                                @media (max-width: 640px) {
                                                        max-width: 120px;
                                                }
                                        }

                                        h2 {
                                                font-size: 2rem;
                                        }

                                        p {
                                                font-size: 0.8rem;

                                                @media (max-width: 640px) {
                                                        font-size: 0.95rem;
                                                }
                                        }
                                }
                        }
                }

                .img-container {        
                        position: relative;

                        @media (max-width: 780px) {
                                width: 94%;
                                max-width: 500px;
                                margin:  20px auto;
                        }

                        .circle-container {
                                position: absolute;
                                bottom: -10%;
                                left: 50%;
                                transform: translateX(-50%);
                                display: flex;
                                align-items: center;

                                @media (max-width:615px) {
                                }

                                .client-circle {
                                        width: 140px;
                                        height: 140px;
                                        padding: 10px;
                                        border-radius: 50%;
                                        background-color: #BFA040;
                                        display: flex;
                                        justify-content: center;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        color: #fafafa;
                                        margin: 0 30px;

                                        @media (max-width: 615px) {
                                                width: 120px;
                                                height: 120px;
                                                font-size: 0.8rem;
                                        }

                                        @media (max-width: 450px) {
                                                width: 80px;
                                                height: 80px;

                                                p {
                                                        font-size: 0.8rem;
                                                }
                                        }
                                }
                        }

                        img {
                                width: 100%;
                        }
                }
        }
}

.linked-section {
        background-color: #1A1694;
        padding: 50px 0;

        .linked-layout {
                @include layout-width;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                h3 {
                        color: #fafafa;
                        font-weight: 500;
                        text-align: center;
                        max-width: 900px;
                        margin: 0 20px; 
                        font-size: clamp(1.6rem, 4vw, 2rem); 

                        @media (max-width:600px) {
                                margin: 0 ;
                        }
                }

                a {
                        padding: 12px 35px;
                        margin: 20px 20px;
                        background-color: $accent-color;
                        color: #fafafa;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        cursor: pointer;

                        @media (max-width:600px) {
                                margin: 20px auto;
                        }

                        &:hover {
                                background-color: rgba($accent-color, 0.8);
                        }
                }
        }
}

.integration-section {
        background-color: #1A81AB;

        .integration-layout {
                @include layout-width;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                margin-top: 100px;
                transform: translateY(-100px);

                .cards {
                        margin: 20px;
                        
                        .img-container {
                                max-width: 380px;

                                img {
                                        width: 100%;
                                }
                        }

                        .text-content {
                                color: #fafafa;

                                h3 {
                                        font-size: 1.6rem;
                                        margin: 10px 0;
                                }

                                p {
                                        font-size: 0.9rem;
                                        max-width: 380px;
                                        line-height: 1.7;
                                }
                        }
                }
        }
}

.business-edition-section {
        .business-edition-layout {
                @include layout-width;

                .tab-content {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        margin: 150px 0;

                        .text-content {
                                width: 97%;
                                max-width: 600px;

                                h4 {
                                        font-size: 1.6rem;
                                        margin: 20px 0;
                                }

                                p {
                                        font-size: 1.1rem;
                                }
                        }

                        .img-container {
                                position: relative;

                                img {
                                        width: 97%;
                                        max-width: 700px;
                                }

                                .circle-yellow, .circle-grey {
                                        position: absolute;
                                        top: -10%;
                                        right: 5%;
                                        width: 220px;
                                        height: 220px;
                                        background-color: $accent-color;
                                        border-radius: 50%;
                                        z-index: -1;
                                        opacity: 0.8;
                                }
                        
                                .circle-grey {
                                        top: -15%;
                                        right: -5%;
                                        width: 250px;
                                        height: 250px;
                                        z-index: -2;
                                        background-color: rgb(199, 199, 199);
                                }
                        }
                }

                @media (max-width:1400px) {
                        .tab-content {
                                        .text-content {
                                                max-width: 500px;
                
                                                h4 {
                                                        font-size: 1.4rem;
                                                }
                
                                                p {
                                                        font-size: 1.05rem;
                                                }
                                        }

                                        .img-container {
        
                                                img {
                                                        max-width: 600px;
                                                }
        
                                                .circle-yellow, .circle-grey {
                                                        top: -10%;
                                                        right: 5%;
                                                        width: 220px;
                                                        height: 220px;
                                                }
                                
                                                .circle-grey {
                                                        top: -15%;
                                                        right: -5%;
                                                        width: 250px;
                                                        height: 250px;
                                                }
                                        }
                        
                        }
                }

                @media (max-width:1200px) {
                        .tab-content {
                                
                                        justify-content: center;

                                        .text-content {
                                                max-width: 800px;
                
                                                h4 {
                                                        font-size: 1.4rem;
                                                }
                
                                                p {
                                                        font-size: 1.05rem;
                                                }
                                        }

                                        .img-container {
                                                margin-top: 150px;
        
                                                img {
                                                        max-width: 800px;
                                                }
        
                                                .circle-yellow, .circle-grey {
                                                        top: -10%;
                                                        right: 5%;
                                                        width: 220px;
                                                        height: 220px;
                                                }
                                
                                                .circle-grey {
                                                        top: -15%;
                                                        right: -5%;
                                                        width: 250px;
                                                        height: 250px;
                                                }
                                        }
                        }
                }

                @media (max-width:600px) {
                        .tab-content{

                                .img-container {
                                        margin-top: 150px;
        
                                        img {
                                                max-width: 800px;
                                        }
        
                                        .circle-yellow, .circle-grey {
                                                top: -10%;
                                                right: 5%;
                                                width: 150px;
                                                height: 150px;
                                        }
                                
                                        .circle-grey {
                                                top: -15%;
                                                right: -2%;
                                                width: 150px;
                                                height: 150px;
                                        }
                                }
                        }
                        
                }
        }
}

.quote-section {
        background-color: #1A1694;
        padding: 50px 0;

        .quote-layout {
                @include layout-width;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                h3 {
                        font-size: 2rem;
                        color: #fafafa;
                        font-weight: 600;
                        max-width: 1200px;
                        text-align: center;
                        margin: 0 0px; 
                        font-size: clamp(1.6rem, 3vw, 1.7rem); 

                        @media (max-width:600px) {
                                margin: 0 ;
                        }
                }

                button {
                        padding: 12px 35px;
                        margin: 20px 20px;
                        background-color: $accent-color;
                        color: #fafafa;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        outline: none;
                        border: none;
                        cursor: pointer;

                        @media (max-width:600px) {
                                margin: 20px auto;
                        }

                        &:hover {
                                background-color: rgba($accent-color, 0.8);
                        }
                }
        }
}

.blog-section {
        padding: 60px 0;
        background-color: #FFD77B;

        .section-heading {
                width: 94%;
                max-width: 650px;
                margin: 10px auto;
                padding: 0 10px;
                text-align: center;
                
                h2 {
                        font-size: 2.4rem;
                        font-weight: 600;
                }

                p {
                        font-size: 1.2rem;
                }
        }       

        .blog-layout {
                @include layout-width;

                .blog-container {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-wrap: wrap;

                        @media (max-width: 725px) {
                                justify-content: center;
                        }

                        .blog-card {
                                width: 97%;
                                max-width: 350px;
                                margin: 50px 20px;
                                background-color: #fff;

                                @media (max-width: 1400px) {
                                        max-width: 340px;
                                }

                                @media (max-width: 1400px) {
                                        max-width: 340px;
                                }

                                @media (max-width: 810px) {
                                        max-width: 300px;
                                }

                                @media (max-width: 710px) {
                                        max-width: 380px;
                                }

                                .img-container {
                                        width: 100%;
                                        height: 200px;
                                        display: flex;
                                        align-items: center;
                                        background-color: #3C3C3C;
                                        overflow: hidden;

                                        img {
                                                width: 100%;
                                        }
                                }

                                h3 {
                                        font-size: 1.3rem;
                                        margin: 10px 0;
                                        padding: 0 20px;
                                }

                                p {
                                        max-width: 350px;
                                        margin: 10px 0;
                                        font-size: 0.9rem;
                                        padding: 0 20px;
                                }

                                button {
                                        padding: 12px 35px;
                                        margin: 30px auto;
                                        background-color: $accent-color;
                                        color: #fafafa;
                                        border-radius: 5px;
                                        outline: none;
                                        border: none;
                                        cursor: pointer;
                                        display: flex;
                                        justify-content: center;
                                        // box-shadow: $primary-shadow;

                                        &:hover {
                                                background-color: rgba($accent-color, 0.8);
                                        }
                                }
                        }
                }
        }
}

.clients-section {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 800px) {
                flex-direction: column;
                width: 100%;

                .client, .partner {
                        width: 100%;
                }
        }

        .slick-dots li.slick-active button:before
        {
                color: $accent-color;
        }

        .slick-dots li button::before{
                font-size: 2rem;
        }

        .slick-dots li button {
                background-color: rgb(226, 226, 226);
                border-radius: 100%;
        }

        .slick-dots li.slick-active button {
                background-color: $accent-color;
                border-radius: 100%;
            }

            .slick-dots li.slick-active button:before, .slick-dots li button:before {
                color: transparent;
        }            

        .client, .partner {
                width: calc(100% / 2);
                padding: 30px 0;

                
                h2 {
                        color: #fff;
                        font-size: 2.4rem;
                        font-weight: 600;
                        text-align: center;
                }

                .logo-container {
                        .img-container {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                margin: 60px 0;

                                img {
                                        width: 30%;
                                        max-width: 150px;
                                        min-width: 80px;
                                        margin: 0 20px;
                                }
                        }
                }

                @media (max-width: 800px) {
                        width: 100%;
                }
        }

        

        .client {
                background-color: #ACC5FF;

        }

        .partner {
                background-color: #0073A5;
        }
}

.integration-1-section {
        margin: 0 0 50px 0;

        .integration-heading {
                width: 94%;
                max-width: 500px;
                margin: 80px auto;
                margin-bottom: 50px;
                padding: 0 10px;
                text-align: center;
                
                h2 {
                        font-size: 2.4rem;
                        font-weight: 600;
                }
        }


        .integration-layout-1 {
                @include layout-width;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                max-width: 800px;

                .brand {
                        margin: 5px 20px;
                        max-height: 50px;
                        object-fit: contain;
                        display: flex;
                        align-items: center;

                        img {
                                width: 100%;
                                max-height: 100%;
                                aspect-ratio: auto 16/9;
                        }
                }
        } 

        button {
                padding: 12px 35px;
                margin: 20px auto;
                background-color: $accent-color;
                color: #fafafa;
                display: flex;
                justify-content: center;
                border-radius: 5px;
                outline: none;
                border: none;
                cursor: pointer;
                box-shadow: $primary-shadow;

                &:hover {
                        background-color: rgba($accent-color, 0.9);
                }
        }
}

footer {
        .sitemap-links {
                display: flex;
                justify-content: space-evenly;
                align-items: flex-start;
                flex-wrap: wrap;
                background-color: #20232A;
                padding: 40px 10px;
                color: #fafafa;

                @media (max-width:600px) {
                        justify-content: start;
                }

                .sitemap {
                        margin: 0 30px;

                        h3 {
                                font-weight: 600;
                                font-size: 1.6rem;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                position: relative;
                                display: inline-block;
                        }

                        h3::before {
                                content: "";
                                position: absolute;
                                top: 110%;
                                left: 0;
                                width: 60%;
                                height: 2px;
                                background-color: $accent-color;
                        }

                        ul li {
                                list-style-type: none;
                                margin: 10px 0;
                        }

                        ul li a{
                                text-decoration: none;
                                color: #fafafa;
                                transition: ease 0.4s;

                                &:hover {
                                        color: $accent-color;
                                }
                        }
                }
        }

        .links {
                background-color: #000000;
                padding: 20px 10px;

                .legal-section {
                        width: 97%;
                        max-width: 1600px;
                        margin: auto;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-top: 20px;

                        @media (max-width:1275px) {
                                flex-direction: column;
                                margin-top: 0;
                        }

                        .legal {
                                display: flex;
                                
                                @media (max-width:600px) {
                                        display: block;
                                }
                        }


                        h3 {
                                color: #fafafa;
                                display: inline;

                                @media (max-width:600px) {
                                        text-align: center;
                                        display: block;
                                        margin-bottom: 20px;
                                }
                        }

                        ul {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                flex-wrap: wrap;

                                @media (max-width:600px) {
                                        
                                justify-content: center;
                                }
                        }

                        ul li {
                                display: inline-block;

                                @media (max-width:600px) {
                                        margin: 5px 0;
                                }
                        }

                        ul li a {
                                margin: 0px 15px;
                                text-decoration: none;
                                color: #fafafa;
                                transition: ease 0.4s;

                                @media (max-width: 1336px) {
                                        font-size: 0.9rem;
                                }

                                &:hover {
                                        color: $accent-color;
                                }
                        }

                        .social-links {
                                display: flex;
                                margin-top: 20px;
                                justify-content: center;
                                align-items: center;
                                margin: auto;

                                ion-icon {
                                        margin: 0 10px;
                                        color: #fafafa;
                                        font-size: 1.5rem;
                                        transition: ease 0.4s;
                                        cursor: pointer;

                                        @media (max-width:600px) {
                                                margin-top: 30px;
                                        }

                                        &:hover {
                                                color: $accent-color;
                                        }
                                }
                        }
                }
        }
}