@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head-section {
  background-color: #F2F2F2;
}

header {
  width: 100%;
  position: relative;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  background-color: #F2F2F2;
}

header .user-acc {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  header .user-acc {
    display: none;
  }
}

header .user-acc .search-bar, header .user-acc .login-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 15px;
  margin-top: 10px;
}

header .user-acc .search-bar {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .user-acc .search-bar input {
  width: 100%;
  outline: none;
  border: none;
  display: none;
  padding: 10px 10px;
}

header .user-acc .search-bar button {
  width: 60px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #2980BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .user-acc .search-bar button ion-icon {
  font-size: 1.2rem;
  color: #F7F4FF;
}

header .user-acc .login-btn {
  overflow: hidden;
}

header .user-acc .login-btn a {
  cursor: pointer;
  text-decoration: none;
}

header .user-acc .login-btn ion-icon {
  padding: 12px;
  color: #fafafa;
  background-color: #EACA1C;
}

header .user-acc .login-btn button {
  width: 150px;
  height: 40px;
  background-color: #4C687F;
  border: none;
  outline: none;
  color: #fafafa;
  font-size: 1.1rem;
  cursor: pointer;
}

header .navbar {
  width: 90%;
  padding: 10px 0px;
  max-width: 1500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  width: 150px;
  cursor: pointer;
}

header .logo .govt {
  width: 200px;
  margin-left: 20px;
}

header .menu {
  display: none;
}

header .menu ion-icon {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header nav {
  display: block;
}

header nav ul li {
  display: inline-block;
  margin: 5px 15px;
  position: relative;
}

header nav ul li #contact-us-btn {
  padding: 8px 20px;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  display: inline-block;
}

header nav ul li #contact-us-btn:hover {
  background-color: #FF8303;
  color: #ffffff;
  border: 1px solid #FF8303;
}

header nav ul li .nav-items {
  max-width: 600px;
  position: absolute;
  top: 160%;
  left: -100%;
  z-index: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(235, 235, 235, 0.4);
          box-shadow: 0 0 20px rgba(235, 235, 235, 0.4);
  padding: 20px;
  visibility: collapse;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header nav ul li .nav-items .items-content {
  width: 400px;
  margin: 0 15px;
}

header nav ul li .nav-items .items-content .heading {
  margin-bottom: 20px;
}

header nav ul li .nav-items .items-content .heading p {
  font-size: 0.9rem;
  color: rgba(25, 26, 25, 0.9);
}

header nav ul li .nav-items .items-content .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
}

header nav ul li .nav-items .items-content .links .link img {
  margin: 0px 10px;
}

header nav ul li .nav-items .items-content .links .link .text-content a {
  font-weight: 600;
}

header nav ul li .nav-items .items-content .links .link .text-content p {
  font-size: 0.7rem;
  color: rgba(25, 26, 25, 0.95);
}

header nav ul li .nav-items .company-content {
  width: 300px;
  margin: 0 15px;
}

header nav ul li .nav-items .company-content p {
  font-size: 0.9rem;
}

header nav ul li .nav-items .company-content img {
  width: 60%;
  margin-top: 20px;
}

header nav ul li .active-nav-items {
  -webkit-animation: come-down ease 0.4s;
          animation: come-down ease 0.4s;
}

@-webkit-keyframes come-down {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes come-down {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

header nav ul li a {
  font-size: 0.95rem;
  text-decoration: none;
  font-weight: 500;
  color: #191A19;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li a ion-icon {
  font-size: 1.2rem;
  color: #191A19;
  margin: 0 10px;
}

header nav ul li a:hover {
  color: #FF8303;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

header nav ul li a:focus, header nav ul li a:focus ion-icon {
  color: #FF8303;
}

header nav ul li a:hover ion-icon {
  color: #FF8303;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

header nav ul li .active-page {
  color: #FF8303;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #FF8303;
}

@media (max-width: 1300px) {
  .logo .govt {
    display: none;
  }
  header nav ul li {
    margin: 5px 10px;
  }
}

@media (max-width: 1100px) {
  header nav ul li {
    margin: 5px;
  }
}

@media (max-width: 950px) {
  header .menu {
    display: block;
  }
  header nav {
    display: none;
  }
  header .govt {
    display: none;
  }
  header .nav {
    display: block;
    width: 94%;
    margin: auto;
    position: absolute;
    top: 100%;
    left: 10px;
    z-index: 100;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px #ebebeb;
            box-shadow: 0px 0px 20px #ebebeb;
    background-color: #ffffff;
    -webkit-animation: movenav ease 1s;
            animation: movenav ease 1s;
  }
  header .nav ul li {
    display: block;
    margin: 15px 15px;
  }
  @-webkit-keyframes movenav {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes movenav {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
}

.header-container {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0 60px 0;
}

.header-container .text-container h2 {
  font-size: clamp(2.3rem, 5vw, 3rem);
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}

.header-container .text-container p {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 10px;
  color: #191A19;
}

.header-container .text-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.header-container .text-container .btn-container button {
  padding: 15px 25px;
  background-color: #FF8303;
  -webkit-box-shadow: 0 0 20px rgba(255, 131, 3, 0.4);
          box-shadow: 0 0 20px rgba(255, 131, 3, 0.4);
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 30px;
  margin: 20px 0;
  cursor: pointer;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.header-container .text-container .btn-container button a {
  text-decoration: none;
  color: #ffffff;
}

.header-container .text-container .btn-container button:hover {
  background-color: rgba(255, 131, 3, 0.8);
}

.header-container .text-container .btn-container button:nth-child(2) {
  margin-left: 20px;
  background-color: #191A19;
  -webkit-box-shadow: 0 0 20px rgba(235, 235, 235, 0.4);
          box-shadow: 0 0 20px rgba(235, 235, 235, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .text-container .btn-container button:nth-child(2):hover {
  background-color: rgba(25, 26, 25, 0.8);
}

.header-container .text-container .btn-container button:nth-child(2) ion-icon {
  margin: 0 0 0 5px;
}

.header-container .img-container {
  max-width: 550px;
  position: relative;
  z-index: 1;
}

.header-container .img-container img {
  width: 100%;
  margin: -5.5px;
}

.header-container .img-container .circle-yellow, .header-container .img-container .circle-grey {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 220px;
  height: 220px;
  background-color: #FF8303;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.8;
}

.header-container .img-container .circle-grey {
  top: -10%;
  left: 20%;
  width: 250px;
  height: 250px;
  z-index: -2;
  background-color: #c7c7c7;
}

@media (max-width: 1100px) {
  .header-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-container .img-container {
    margin-top: 100px;
  }
}

.who-section {
  padding: 100px 0;
}

.who-section .who-heading {
  width: 94%;
  max-width: 600px;
  margin: 30px auto;
  padding: 0 10px;
  text-align: center;
}

.who-section .who-heading h2 {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 600;
}

.who-section .who-layout {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
}

.who-section .who-layout .text-content p {
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  letter-spacing: 0.8px;
  word-spacing: 1.4px;
  text-align: center;
}

.section-heading {
  width: 94%;
  max-width: 800px;
  margin: 60px auto;
  padding: 0 10px;
  text-align: center;
}

.section-heading h2 {
  font-size: clamp(1.4rem, 3vw, 2rem);
  font-weight: 600;
}

.section-heading p {
  font-size: 1.2rem;
}

.features-section {
  padding: 100px 0;
}

.features-section .section-heading {
  width: 94%;
  max-width: 800px;
  margin: 60px auto;
  padding: 0 10px;
  text-align: center;
}

.features-section .section-heading h2 {
  font-size: clamp(1.4rem, 3vw, 2rem);
  font-weight: 600;
}

.features-section .section-heading p {
  font-size: 1.2rem;
}

.features-section .features {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .features-section .features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features-section .features .features-card {
  text-align: center;
  margin: 40px 15px;
  max-width: 350px;
}

.features-section .features .features-card img {
  width: 100px;
  margin: 10px auto;
}

.features-section .features .features-card h3 {
  font-size: 1.4rem;
  text-align: center;
}

.features-section .features .features-card p {
  text-align: center;
  max-width: 300px;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.features-section .features .features-card .full-content {
  display: none;
}

.features-section .features .features-card button {
  padding: 12px 35px;
  margin: 30px auto;
  background-color: #FF8303;
  color: #fafafa;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-section .features .features-card button:hover {
  background-color: rgba(255, 131, 3, 0.8);
}

.control-section {
  padding: 20px 0;
  background: #0aa3bb;
  background: linear-gradient(174deg, #0aa3bb 0%, #226fa2 100%);
}

.control-section .control-layout {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1310px) {
  .control-section .control-layout {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.control-section .control-layout .img-container {
  margin: 20px;
}

@media (max-width: 1410px) {
  .control-section .control-layout .img-container {
    max-width: 500px;
  }
}

.control-section .control-layout .img-container img {
  width: 100%;
}

.control-section .control-layout .text-content {
  margin: 20px;
  color: #fafafa;
}

.control-section .control-layout .text-content h1 {
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
}

.control-section .control-layout .text-content span {
  display: block;
  margin: 10px 0;
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.control-section .control-layout .text-content p {
  margin: 10px 0;
  text-align: left;
  max-width: 650px;
  margin-bottom: 30px;
}

.control-section .control-layout .text-content .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
}

@media (max-width: 810px) {
  .control-section .control-layout .text-content .content-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.control-section .control-layout .text-content .content-container h3 {
  max-width: 300px;
  font-weight: normal;
  margin: 20px;
}

.market-section .global-market-layout {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

@media (max-width: 1452px) {
  .market-section .global-market-layout {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.market-section .global-market-layout .text-content {
  width: 100%;
  max-width: 650px;
}

.market-section .global-market-layout .text-content h1 {
  font-size: 2.4rem;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  text-align: center;
}

@media (max-width: 1450px) {
  .market-section .global-market-layout .text-content h1 {
    margin-top: 100px;
  }
}

.market-section .global-market-layout .text-content p {
  text-align: center;
  font-size: 1.2rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.market-section .global-market-layout .text-content .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px 0;
}

@media (max-width: 640px) {
  .market-section .global-market-layout .text-content .contents {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.market-section .global-market-layout .text-content .contents .content {
  margin: 15px;
  text-align: center;
}

@media (max-width: 640px) {
  .market-section .global-market-layout .text-content .contents .content {
    margin: 30px;
  }
}

.market-section .global-market-layout .text-content .contents .content img {
  max-width: 80px;
}

@media (max-width: 640px) {
  .market-section .global-market-layout .text-content .contents .content img {
    max-width: 120px;
  }
}

.market-section .global-market-layout .text-content .contents .content h2 {
  font-size: 2rem;
}

.market-section .global-market-layout .text-content .contents .content p {
  font-size: 0.8rem;
}

@media (max-width: 640px) {
  .market-section .global-market-layout .text-content .contents .content p {
    font-size: 0.95rem;
  }
}

.market-section .global-market-layout .img-container {
  position: relative;
}

@media (max-width: 780px) {
  .market-section .global-market-layout .img-container {
    width: 94%;
    max-width: 500px;
    margin: 20px auto;
  }
}

.market-section .global-market-layout .img-container .circle-container {
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market-section .global-market-layout .img-container .circle-container .client-circle {
  width: 140px;
  height: 140px;
  padding: 10px;
  border-radius: 50%;
  background-color: #BFA040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fafafa;
  margin: 0 30px;
}

@media (max-width: 615px) {
  .market-section .global-market-layout .img-container .circle-container .client-circle {
    width: 120px;
    height: 120px;
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .market-section .global-market-layout .img-container .circle-container .client-circle {
    width: 80px;
    height: 80px;
  }
  .market-section .global-market-layout .img-container .circle-container .client-circle p {
    font-size: 0.8rem;
  }
}

.market-section .global-market-layout .img-container img {
  width: 100%;
}

.linked-section {
  background-color: #1A1694;
  padding: 50px 0;
}

.linked-section .linked-layout {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linked-section .linked-layout h3 {
  color: #fafafa;
  font-weight: 500;
  text-align: center;
  max-width: 900px;
  margin: 0 20px;
  font-size: clamp(1.6rem, 4vw, 2rem);
}

@media (max-width: 600px) {
  .linked-section .linked-layout h3 {
    margin: 0;
  }
}

.linked-section .linked-layout a {
  padding: 12px 35px;
  margin: 20px 20px;
  background-color: #FF8303;
  color: #fafafa;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .linked-section .linked-layout a {
    margin: 20px auto;
  }
}

.linked-section .linked-layout a:hover {
  background-color: rgba(255, 131, 3, 0.8);
}

.integration-section {
  background-color: #1A81AB;
}

.integration-section .integration-layout {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.integration-section .integration-layout .cards {
  margin: 20px;
}

.integration-section .integration-layout .cards .img-container {
  max-width: 380px;
}

.integration-section .integration-layout .cards .img-container img {
  width: 100%;
}

.integration-section .integration-layout .cards .text-content {
  color: #fafafa;
}

.integration-section .integration-layout .cards .text-content h3 {
  font-size: 1.6rem;
  margin: 10px 0;
}

.integration-section .integration-layout .cards .text-content p {
  font-size: 0.9rem;
  max-width: 380px;
  line-height: 1.7;
}

.business-edition-section .business-edition-layout {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
}

.business-edition-section .business-edition-layout .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 150px 0;
}

.business-edition-section .business-edition-layout .tab-content .text-content {
  width: 97%;
  max-width: 600px;
}

.business-edition-section .business-edition-layout .tab-content .text-content h4 {
  font-size: 1.6rem;
  margin: 20px 0;
}

.business-edition-section .business-edition-layout .tab-content .text-content p {
  font-size: 1.1rem;
}

.business-edition-section .business-edition-layout .tab-content .img-container {
  position: relative;
}

.business-edition-section .business-edition-layout .tab-content .img-container img {
  width: 97%;
  max-width: 700px;
}

.business-edition-section .business-edition-layout .tab-content .img-container .circle-yellow, .business-edition-section .business-edition-layout .tab-content .img-container .circle-grey {
  position: absolute;
  top: -10%;
  right: 5%;
  width: 220px;
  height: 220px;
  background-color: #FF8303;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.8;
}

.business-edition-section .business-edition-layout .tab-content .img-container .circle-grey {
  top: -15%;
  right: -5%;
  width: 250px;
  height: 250px;
  z-index: -2;
  background-color: #c7c7c7;
}

@media (max-width: 1400px) {
  .business-edition-section .business-edition-layout .tab-content .text-content {
    max-width: 500px;
  }
  .business-edition-section .business-edition-layout .tab-content .text-content h4 {
    font-size: 1.4rem;
  }
  .business-edition-section .business-edition-layout .tab-content .text-content p {
    font-size: 1.05rem;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container img {
    max-width: 600px;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container .circle-yellow, .business-edition-section .business-edition-layout .tab-content .img-container .circle-grey {
    top: -10%;
    right: 5%;
    width: 220px;
    height: 220px;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container .circle-grey {
    top: -15%;
    right: -5%;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .business-edition-section .business-edition-layout .tab-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .business-edition-section .business-edition-layout .tab-content .text-content {
    max-width: 800px;
  }
  .business-edition-section .business-edition-layout .tab-content .text-content h4 {
    font-size: 1.4rem;
  }
  .business-edition-section .business-edition-layout .tab-content .text-content p {
    font-size: 1.05rem;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container {
    margin-top: 150px;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container img {
    max-width: 800px;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container .circle-yellow, .business-edition-section .business-edition-layout .tab-content .img-container .circle-grey {
    top: -10%;
    right: 5%;
    width: 220px;
    height: 220px;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container .circle-grey {
    top: -15%;
    right: -5%;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 600px) {
  .business-edition-section .business-edition-layout .tab-content .img-container {
    margin-top: 150px;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container img {
    max-width: 800px;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container .circle-yellow, .business-edition-section .business-edition-layout .tab-content .img-container .circle-grey {
    top: -10%;
    right: 5%;
    width: 150px;
    height: 150px;
  }
  .business-edition-section .business-edition-layout .tab-content .img-container .circle-grey {
    top: -15%;
    right: -2%;
    width: 150px;
    height: 150px;
  }
}

.quote-section {
  background-color: #1A1694;
  padding: 50px 0;
}

.quote-section .quote-layout {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quote-section .quote-layout h3 {
  font-size: 2rem;
  color: #fafafa;
  font-weight: 600;
  max-width: 1200px;
  text-align: center;
  margin: 0 0px;
  font-size: clamp(1.6rem, 3vw, 1.7rem);
}

@media (max-width: 600px) {
  .quote-section .quote-layout h3 {
    margin: 0;
  }
}

.quote-section .quote-layout button {
  padding: 12px 35px;
  margin: 20px 20px;
  background-color: #FF8303;
  color: #fafafa;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .quote-section .quote-layout button {
    margin: 20px auto;
  }
}

.quote-section .quote-layout button:hover {
  background-color: rgba(255, 131, 3, 0.8);
}

.blog-section {
  padding: 60px 0;
  background-color: #FFD77B;
}

.blog-section .section-heading {
  width: 94%;
  max-width: 650px;
  margin: 10px auto;
  padding: 0 10px;
  text-align: center;
}

.blog-section .section-heading h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

.blog-section .section-heading p {
  font-size: 1.2rem;
}

.blog-section .blog-layout {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
}

.blog-section .blog-layout .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 725px) {
  .blog-section .blog-layout .blog-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blog-section .blog-layout .blog-container .blog-card {
  width: 97%;
  max-width: 350px;
  margin: 50px 20px;
  background-color: #fff;
}

@media (max-width: 1400px) {
  .blog-section .blog-layout .blog-container .blog-card {
    max-width: 340px;
  }
}

@media (max-width: 1400px) {
  .blog-section .blog-layout .blog-container .blog-card {
    max-width: 340px;
  }
}

@media (max-width: 810px) {
  .blog-section .blog-layout .blog-container .blog-card {
    max-width: 300px;
  }
}

@media (max-width: 710px) {
  .blog-section .blog-layout .blog-container .blog-card {
    max-width: 380px;
  }
}

.blog-section .blog-layout .blog-container .blog-card .img-container {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3C3C3C;
  overflow: hidden;
}

.blog-section .blog-layout .blog-container .blog-card .img-container img {
  width: 100%;
}

.blog-section .blog-layout .blog-container .blog-card h3 {
  font-size: 1.3rem;
  margin: 10px 0;
  padding: 0 20px;
}

.blog-section .blog-layout .blog-container .blog-card p {
  max-width: 350px;
  margin: 10px 0;
  font-size: 0.9rem;
  padding: 0 20px;
}

.blog-section .blog-layout .blog-container .blog-card button {
  padding: 12px 35px;
  margin: 30px auto;
  background-color: #FF8303;
  color: #fafafa;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-section .blog-layout .blog-container .blog-card button:hover {
  background-color: rgba(255, 131, 3, 0.8);
}

.clients-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .clients-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .clients-section .client, .clients-section .partner {
    width: 100%;
  }
}

.clients-section .slick-dots li.slick-active button:before {
  color: #FF8303;
}

.clients-section .slick-dots li button::before {
  font-size: 2rem;
}

.clients-section .slick-dots li button {
  background-color: #e2e2e2;
  border-radius: 100%;
}

.clients-section .slick-dots li.slick-active button {
  background-color: #FF8303;
  border-radius: 100%;
}

.clients-section .slick-dots li.slick-active button:before, .clients-section .slick-dots li button:before {
  color: transparent;
}

.clients-section .client, .clients-section .partner {
  width: calc(100% / 2);
  padding: 30px 0;
}

.clients-section .client h2, .clients-section .partner h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

.clients-section .client .logo-container .img-container, .clients-section .partner .logo-container .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0;
}

.clients-section .client .logo-container .img-container img, .clients-section .partner .logo-container .img-container img {
  width: 30%;
  max-width: 150px;
  min-width: 80px;
  margin: 0 20px;
}

@media (max-width: 800px) {
  .clients-section .client, .clients-section .partner {
    width: 100%;
  }
}

.clients-section .client {
  background-color: #ACC5FF;
}

.clients-section .partner {
  background-color: #0073A5;
}

.integration-1-section {
  margin: 0 0 50px 0;
}

.integration-1-section .integration-heading {
  width: 94%;
  max-width: 500px;
  margin: 80px auto;
  margin-bottom: 50px;
  padding: 0 10px;
  text-align: center;
}

.integration-1-section .integration-heading h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

.integration-1-section .integration-layout-1 {
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
}

.integration-1-section .integration-layout-1 .brand {
  margin: 5px 20px;
  max-height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integration-1-section .integration-layout-1 .brand img {
  width: 100%;
  max-height: 100%;
  aspect-ratio: auto 16/9;
}

.integration-1-section button {
  padding: 12px 35px;
  margin: 20px auto;
  background-color: #FF8303;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px rgba(255, 131, 3, 0.4);
          box-shadow: 0 0 20px rgba(255, 131, 3, 0.4);
}

.integration-1-section button:hover {
  background-color: rgba(255, 131, 3, 0.9);
}

footer .sitemap-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #20232A;
  padding: 40px 10px;
  color: #fafafa;
}

@media (max-width: 600px) {
  footer .sitemap-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

footer .sitemap-links .sitemap {
  margin: 0 30px;
}

footer .sitemap-links .sitemap h3 {
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

footer .sitemap-links .sitemap h3::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: #FF8303;
}

footer .sitemap-links .sitemap ul li {
  list-style-type: none;
  margin: 10px 0;
}

footer .sitemap-links .sitemap ul li a {
  text-decoration: none;
  color: #fafafa;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

footer .sitemap-links .sitemap ul li a:hover {
  color: #FF8303;
}

footer .links {
  background-color: #000000;
  padding: 20px 10px;
}

footer .links .legal-section {
  width: 97%;
  max-width: 1600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

@media (max-width: 1275px) {
  footer .links .legal-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

footer .links .legal-section .legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  footer .links .legal-section .legal {
    display: block;
  }
}

footer .links .legal-section h3 {
  color: #fafafa;
  display: inline;
}

@media (max-width: 600px) {
  footer .links .legal-section h3 {
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
}

footer .links .legal-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  footer .links .legal-section ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .links .legal-section ul li {
  display: inline-block;
}

@media (max-width: 600px) {
  footer .links .legal-section ul li {
    margin: 5px 0;
  }
}

footer .links .legal-section ul li a {
  margin: 0px 15px;
  text-decoration: none;
  color: #fafafa;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

@media (max-width: 1336px) {
  footer .links .legal-section ul li a {
    font-size: 0.9rem;
  }
}

footer .links .legal-section ul li a:hover {
  color: #FF8303;
}

footer .links .legal-section .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

footer .links .legal-section .social-links ion-icon {
  margin: 0 10px;
  color: #fafafa;
  font-size: 1.5rem;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  cursor: pointer;
}

@media (max-width: 600px) {
  footer .links .legal-section .social-links ion-icon {
    margin-top: 30px;
  }
}

footer .links .legal-section .social-links ion-icon:hover {
  color: #FF8303;
}
/*# sourceMappingURL=integration.css.map */